.modal-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0,0,0,0.5);
    font-weight: 900;
    z-index: 7;
  }
  
.modal-hidden,
.none {
    display: none;
}

.modal {
    position: relative;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background: white;
}

@media screen and (min-width: 800px) {
    .modal {
        width: 70%;
    }
}

.brand-wrapper {
    width: 90%;
    border-bottom: 1px solid rgba(220, 220, 220, 0.35);
}

.brand-wrapper .logo-icon {
    width: 10%;
    margin-right: 2%;
}

.welcome-text {
    font-size: 1.12em;
    align-self: flex-start;
}

.close-icon {
    position: absolute;
    top: 15px;
    left: 90%;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .welcome-text {
        position: relative;
        left: -0.5em;
    }

    .close-icon {
        top: 20px;
        left: 95%;
    } 
}

.section-img {
    display: none;
    width: 50%;
    height: 650px;
    border-radius: 0 12px 12px 0;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    .section-img {
        display: inline;
    }
}

.modal-form,
.modal-form .form {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
}

.modal-form .form {
    padding-bottom: 3px !important;
    width: 100%;
}

.modal-form {
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .modal-form {
        width: 45%;
        height: 650px;
        justify-content: space-evenly;
    }
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.modal-form input,
select {
    width: 90%;
    height: 48px;
    padding: 0 1em;
    margin-bottom: 12px;
    border-radius: 10px;
    border: none;
    background-color: #ECF3FF;
}

input:focus {
    outline: none;
    border: 2px groove rgba(15, 111, 225, 0.3);
    box-shadow: 5px 4px 5px 1px aliceblue, 
                    -5px 4px 5px 1px aliceblue,
                    5px -4px 5px 1px aliceblue
    ;
}

input[type="checkbox"] {
    width: revert !important;
    height: 0.8em;
    margin: 0;
    margin-right: 0.5em;
}

input[type="date"]::before {
    content: attr(placeholder);
}

input[type="date"] {
    color: transparent;
    font-family: Arial; /* browser default is Courier 🤢 */
}

::placeholder,
input[type="date"]::before,
input[type="date"]:focus,
input[type="date"]:valid {
    color: #3d3e3eb6;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "" !important;
}

::placeholder,
input[type="date"]::before {
    opacity: 0.4;
    text-align: justify;
    text-transform: capitalize;
}

.input-flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.input-flex-container input {
    width: 38%;
}

.profile-picture-input, .password-input {
    width: 100% !important;
}

.file-label, .pass-strenght-info {
    align-self: center;
    position: absolute;
    font-size: 0.75em;
    color: white;
    background: #060807;
    padding: 0.5em;
    padding-top: 8px;
    left: calc(100% - 9em);
    margin-bottom: 8px;
    border: 1px outset lightblue;
    border-radius: 7px;
    text-align: center;
}

.pass-strenght-info {
    left: calc(100% - 4.7em);
    font-size: 0.7em;
    border: none;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0 7px 7px
}

.file-name {
    position: absolute;
    left: 3%;
    font-size: 0.8em;
    color: white;
    background: #060807;
    margin-bottom: 10px;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    cursor: pointer;
}

.file-name > span:first-child {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 800px) {
    .modal-form input,
    select {
        width: 100%;
    }

    .input-flex-container {
        width: calc(100% + 2em);
    }

    .input-flex-container input {
        width: 40%;
    }
}

.modal button {
    width: 100%;
    background: #2735FF;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px 35px;
    font-weight: 400;
    font-size: 1.1em;
}

@media screen and (min-width: 800px) {
    .modal button {
        width: calc(100% + 2em);
    }
}

.have-account-text {
    text-align: center;
}

.have-account-text a {
    color:  #878CD4;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
}

@media screen and (min-width: 800px) {
    .have-account-text a {
        display: inline;
    }
}

.status-text {
    text-align: center;
}

.success-text, .failure-text, .warning-text {
    font-weight: 400;
}

.success-text {
    color: var(--chrome-green);
}

.warning-text {
    color: var(--warning-yellow);
}

.failure-text {
    color: var(--failure-red);
}

.info-text {
    font-size: 0.75em;
    width: calc(90% + 2em);
    margin-bottom: 0.5em;
}

@media screen and (min-width: 800px) {
    .info-text {
        width: calc(100% + 2em);
        margin-bottom: 10px;
    }    
}

.loader-container-holder {
    width: 120%;
    height: 500px;
}

.loader-container-add-holder,
.loader-container-edit-holder,
.loader-container-signup-holder {
    position: absolute;
}

.loader-container-add-holder .loader-container,
.loader-container-edit-holder .loader-container,
.loader-container-signup-holder .loader-container {
    width: 100%;
}

.loader-container-signup-holder {
    height: 305px;
}

.loader-container-add-holder {
    height: 430px;
}

.loader-container-edit-holder {
    height: 380px;
}

.signin-flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.85em;
    margin-bottom: 1.5em;
}

.signin-flex-container .checkbox-holder {
    margin-bottom: 0;
}

.signin-flex-container a {
    font-size: 0.8em;
    display: flex;
}

.checkbox-holder {
    display: flex;
    align-self: flex-start;
    font-size: 0.8em;
    color: #455065;
    margin-bottom: 1em;
    align-items: center;
}

@media (min-width: 800px) {
    .signin-flex-container {
        width: calc(100% + 1em);
    }

    .checkbox-holder {
        margin-left: -1em;
    }
}